bin/
obj/
out/

*.user
*.userosscache
*.suo
*.userprefs

*.log
*.tlg
*.log2

.vscode/
.vs/
.vscode-test/

packages/
node_modules/

.idea/
.project
*.csproj.user
*.csproj.DotSettings.user
*.swp

wwwroot/
appsettings*.json

.idea/
.idea_modules/
*.iml

*.Generated.*
*.R#
_ReSharper*

*.bak
*.old
*.swp

project.lock.json
project.fragment.lock.json
artifacts/

LocalAppData/
storage/

.DS_Store
._*
.Spotlight-V100
.Trashes
Icon?

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

.idea/
.idea_modules/
*.iml

.vscode/

*.coverage
*.coveragexml
*.testsettings
*.vsmdi

*.pfx
*.p12

*.nupkg
*.snupkg
.nuget/
.nuget/packages/